* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  width: 80%;
  margin: 30px auto;
  border: 1px solid;
  border-radius: 15px;
}
.opacity {
  opacity: 0.2;
}
.pool {
  border-radius: 15px;
  width: 35%;
  background-color: rgb(234, 232, 232);
}
