.comment {
  display: flex;
  gap: 0 5px;
}

.comment--context {
  display: flex;
  font-size: 13px;
  font-weight: 100;
}

.comment--rate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: gold;
  font-size: 8px;
}
.comment--reply {
  font-size: 12px;
  margin-left: 50%;
  display: flex;
  width: 50%;
}

.comment--replayIcon {
  width: 15px;
  height: 15px;
}
.smileyIcon,
.addReplay--img,
.emoji,
.comment--replayIcon:hover {
  cursor: pointer;
}
.comment--addReplay {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
.addReplay--input {
  width: 50%;
}

.addReplay--img {
  width: 15px;
  height: 15px;
}

.replayActive {
  display: flex;
}

.emoji,
.reply--icon {
  height: 20px;
  width: 20px;
}
.emoji {
  border-radius: 50%;
}

.smileyIcon {
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.emoji--container {
  display: none;
  gap: 0 5px;
}
.emojisActive {
  display: flex;
}

.bad {
  background-color: red;
}
.normal {
  background-color: yellow;
}
.good {
  background-color: green;
}
